
<ol start="{{ include.start_num }}">
{% assign papers = site.data[include.data_file] %}
{% for paper in papers %}
  <li>
    <b>{{ paper.title }}</b><br>
    {% if paper.coauthors %}
    {% assign authors_count = paper.coauthors | size %}
    {% assign second_last_index = authors_count | minus:2 %}
    with 
    {% for author in paper.coauthors %}
      {% assign url = site.data.people[author] %}
      {% if url %}<a href="{{ url }}">{{ author }}</a>{% else %}{{ author }}{% endif %}{% if forloop.index0 < second_last_index %},{% elsif forloop.index0 == second_last_index %}, and{% endif %}{% endfor %}
    <br>
    {% endif %}
    <!-- <b>{{ paper.venue }}</b> -->
    {%- if paper.abbr -%}
      {%- assign venue_info = site.data.venues[paper.abbr] -%}
      {%- if venue_info -%}
        {%- if venue_info.color -%}
          {%- assign badge_style = venue_info.color | prepend: 'background-color:' -%}
        {%- else -%}
          {%- assign badge_style = 'background-color:#555' -%}
        {%- endif -%}
        {%- assign badge_url = paper.venue_url | default: venue_info.url -%}
        <abbr class="venue-badge" style="{{ badge_style }}">
          {%- if badge_url -%}
            <a href="{{ badge_url }}">{{ paper.venue }}</a>
          {%- else -%}
            {{ paper.venue }}
          {%- endif -%}
        </abbr>
      {%- endif -%}
    {%- else -%}
      <b>{{ paper.venue }}</b>
    {%- endif -%}
    <!-- <b>{{ paper.venue }}</b> -->
    {% if paper.pdf %}<b>[<a href="{{ paper.pdf }}">PDF</a>]</b>{% endif %}
    {% if paper.full_version %}<b>[<a href="{{ paper.full_version }}">Full version</a>]</b>{% endif %}
    {% if paper.ePrint %}<b>[<a href="{{ paper.ePrint }}">ePrint</a>]</b>{% endif %}
    {% if paper.arXiv %}<b>[<a href="{{ paper.arXiv }}">arXiv</a>]</b>{% endif %}
    {% if paper.ECCC %}<b>[<a href="{{ paper.ECCC }}">ECCC</a>]</b>{% endif %}
    {% if paper.NTRS %}<b>[<a href="{{ paper.NTRS }}">NTRS</a>]</b>{% endif %}
    <!-- {% if paper.LIPIcs %}[<a href="{{ paper.LIPIcs }}">LIPIcs</a>]{% endif %} -->
    {% if paper.doi %}<font size="3">(<a href="https://doi.org/{{ paper.doi }}">doi</a>)</font>{% endif %}
    {% if paper.slides %}[<a href="{{ paper.slides }}">Slides</a>]{% endif %}
    {% if paper.demo %}[<a href="{{ paper.demo }}">Demo</a>]{% endif %}
    {% if paper.github %}[<a href="{{ paper.github }}">GitHub</a>]{% endif %}
    {% if paper.video %}[<a href="{{ paper.video }}">Video</a>]{% endif %}
    <br>
    <!-- {% if paper.doi %}<font size="3">doi: <a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a></font><br>{% endif %} -->
    <!-- {% if paper.doi %}<font size="3">doi: {{ paper.doi }}</font><br>{% endif %} -->
    {% if paper.abstract %}
    <details class="abstract-details" closed>
      <summary class="abstract-summary"></summary>
      {% for paragraph in paper.abstract %}
        <p><span class="indented">{{ paragraph }}</span></p>
      {% endfor %}
    </details>
    {% endif %}
  </li>
{% endfor %}
</ol>
